.grid{
    left: 35%;
    width: 400px;
    height: 600px;
    background-color: yellow;
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler{
    
    background-image: url('doodler-guy.png');
    width: 87px;
    height: 85px;
    position: absolute;
}

.platform{
    width: 85px;
    height: 15px;
    background-image: url('platform.png');
    position: absolute;
}